In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Elizabeth,-33.9180,25.5701,58.32,82,88,1.01,ZA,2022-04-15 21:17:56
1,1,Dubti,11.7361,41.0853,90.01,35,85,10.00,ET,2022-04-15 21:19:23
2,2,Chapais,49.7834,-74.8492,37.18,65,100,9.44,CA,2022-04-15 21:19:23
3,3,Punta Arenas,-53.1500,-70.9167,50.11,66,20,26.46,CL,2022-04-15 21:19:11
4,4,Severo-Kurilsk,50.6789,156.1250,30.81,79,62,3.27,RU,2022-04-15 21:19:24

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Call the figure to plot the data.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
9,9,Mitu,1.1983,-70.1733,77.27,87,92,1.10,CO,2022-04-15 21:19:25
10,10,Kahului,20.8947,-156.4700,82.42,66,40,24.16,US,2022-04-15 21:19:26
11,11,Vila Velha,-20.3297,-40.2925,76.95,71,100,14.97,BR,2022-04-15 21:19:26
12,12,Monrovia,6.3005,-10.7969,80.37,85,100,7.99,LR,2022-04-15 21:16:01
14,14,Cabo San Lucas,22.8909,-109.9124,86.61,32,40,6.91,MX,2022-04-15 21:14:38
15,15,Port Blair,11.6667,92.7500,77.04,94,20,2.30,IN,2022-04-15 21:19:27
19,19,Ca Mau,9.1769,105.1500,78.82,89,72,3.49,VN,2022-04-15 21:19:28
22,22,Natal,-5.7950,-35.2094,83.05,78,20,10.36,BR,2022-04-15 21:19:29
29,29,Antalaha,-14.9003,50.2788,75.34,91,53,7.52,MG,2022-04-15 21:19:31
30,30,Raga,8.4596,25.6780,77.40,68,100,7.83,SS,2022-04-15 21:14:40

In [22]:
preferred_cities_df.count()

City_ID       173
City          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
Country       173
Date          173
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9             Mitu      CO     77.27   1.1983  -70.1733
10         Kahului      US     82.42  20.8947 -156.4700
11      Vila Velha      BR     76.95 -20.3297  -40.2925
12        Monrovia      LR     80.37   6.3005  -10.7969
14  Cabo San Lucas      MX     86.61  22.8909 -109.9124
15      Port Blair      IN     77.04  11.6667   92.7500
19          Ca Mau      VN     78.82   9.1769  105.1500
22           Natal      BR     83.05  -5.7950  -35.2094
29        Antalaha      MG     75.34 -14.9003   50.2788
30            Raga      SS     77.40   8.4596   25.6780

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [30]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Mitu,CO,77.27,1.1983,-70.1733,
10,Kahului,US,82.42,20.8947,-156.4700,Maui Seaside Hotel
11,Vila Velha,BR,76.95,-20.3297,-40.2925,Hotel Vitória Palace
12,Monrovia,LR,80.37,6.3005,-10.7969,Sunset Inn
14,Cabo San Lucas,MX,86.61,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))